.title{
  text-transform: uppercase;
  font-weight: normal;
  font-size: 32px;
  border-width: 2px;
  border-left: solid;
  padding-left: 16px;
  display: inline-block;
}

@media (min-width: 992px) {
  .title {
    border-width: 2px;
    border-bottom: solid;
    padding-bottom: 16px;
    border-left: 0px;
    padding-left: 0px;
    text-align: center;
  }
}

.titleWrapper{
  text-align: left;    
}
@media (min-width: 992px) {
  .titleWrapper{
    text-align: center;    
  }
}

.lead{
  font-family: Nobel-Light, Sans-Serif;
  text-transform: uppercase;
  font-size: 20px;
}
@media (min-width: 992px) {
.lead {
    text-align: center;
  }
}
.logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.navbar{
  margin-top: 31px;
}
.carStepsText{
  padding-left:20px;
  vertical-align: middle;

}
.carStepsIcon{
   font-family: Nobel-Light, Sans-Serif;
   font-size: 18px;
   vertical-align: middle;
   
   margin-top:0px;
   margin-bottom: 0px;
}
.carStepsWrapper{
  margin-top:0px;
  margin-bottom: 0px;
  line-height: 36px;
  font-family: Nobel-Light, Sans-Serif;
  font-size: 18px;
  vertical-align: middle;
}
.stepDescription{
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.divider{
  border-bottom: 1px solid #ffffff59;
  margin-top:20px;
  position: relative;
}

.divider::after{
  z-index: 20;
  content:'';
  position: absolute;
  top:-9px;
  left: 50%;
  height: 20px;
  width: 20px;
  background: #000;
  border-bottom: 1px solid #ffffff59;
  border-right: 1px solid #ffffff59;
  transform: rotate(45deg);
}

.stepOne{
  width: 100%;
}

.backToTop{
  width: 100%;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.backToTop a{
  color: #fff;
  text-decoration: none;
  line-height: 28px;
  letter-spacing: 0.9px;
}