.tileWrapper{
  margin-top:16px;
  background: #fff;
  position: relative;
}
.tileImage{
 /* position: absolute;*/
  display: block;
  width: 100%;
  height: auto;
/*  position: absolute;
  left: 0;
  top: 0;*/


}
.tileImageOverlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 10;
  /*//margin-bottom: -160px;*/
}

.tileTitle{
  color: #000;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
}
.tileLink{
  font-family: nobel-regular, Sans-Serif;
  color:#727272;
  font-size: 18px;
  letter-spacing: 0.9px;
}
.tileLink:hover{
  color:#333;

}

.tileContent{
  padding:18px;
}

.tileButton{
  text-transform: uppercase;
  background: #1F3FCF;
  display: block;
  /*width: 100%;*/
  margin-top:18px;
  color:#fff;
  font-size: 22px;
  padding: 15px;
  border: 0;
  text-align: center;
  transition: all 0.2s;
  text-decoration: none;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tileButton:hover{
  box-shadow: 0px 4px 10px #00000069;
}
.tileHeader{
  position: relative;
 /* //height: 160px;*/
}

.tileHeader::before{
  z-index: 20;
  content:'';
  position: absolute;
  bottom:-10px;
  left: 20px;
  height: 20px;
  width: 20px;
  background: #fff;
  transform: rotate(45deg);
}
.tileImageText{
  position: absolute;
  top:20px;
  left:0;
  border-color: #fff;
  border-width: 2px;
  border-left: solid;
  padding-left: 18px;
  z-index: 20;
  font-size: 26px;
  line-height: 36px;
  font-weight: normal;
  letter-spacing: 1.73px;
  margin:0;
  margin-left: 21px;
  text-transform: uppercase;
}
